*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

html, body{
    min-height: 100%;
}

body{
    min-height: 100vh;
    background: url(img/bg-mobile.png) no-repeat top center fixed;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

main{
    align-self: center;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img#logo{
    width: 19rem;
}

img#topo{
    width: 20rem;
    margin-top: 20px;
}

a img#btn-play{
    width: 7rem;
    border-style: none;
    margin-top: 30px;
}

a img#btn-play:hover{
    animation:scale-down-center 0.5s; 
} 

@keyframes scale-down-center{
    0%{transform:scale(1)}100%{transform:scale(.9)}
}

@media screen and (min-width: 680px) {
    
    body{
        min-height: 100vh;
        background: url(img/bg-desktop.png) no-repeat bottom center fixed;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    img#logo{
        width: 32rem;
    }

    img#topo{
        margin-top: 40px;
    }

    a img#btn-play{
        margin-top: 10px;
    }

}